.btn{
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s opacity;
}

.btn-primary{
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
}

.btn-reverse-primary{
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: white;
}

.text-primary{
    color: var(--primary);
}

.card{
    border-radius: 10px;
    background-color: white;
}